@charset "utf-8";

@charset "UTF-8";
@import url('/font/webfonts_NotoSansKR.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');
@import url('/main/css/fonts/webfonts_Gotham/webfonts_Gotham.css');
@import url('/font/dingbat_xeicon.css');
@import url('slick.css');
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-family: 'Noto';
  font-weight: 300;
  color: #222;
  overflow: hidden;
  height: 100%;
  overflow-y: auto !important;
}

header,
footer,
main,
section,
article,
nav,
aside {
  display: block;
}

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 130%;
}

span,
div {
  line-height: 130%;
}

fieldset,
hr {
  display: block;
  margin: 0;
  padding: 0;
  border: 0 none;
}

input,
select {
  max-width: 100%;
  vertical-align: middle;
}

input,
select,
button,
textarea,
optgroup {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

address,
em,
i {
  font-style: normal;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: 0 none;
  background: none;
  cursor: pointer;
}

input[type='submit'],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

img {
  max-width: 100%;
  border: 0 none;
  font-size: 0;
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* 헤더 */
#wrap {
  width: 100%;
  min-width: 320px;
}
.HeaderLayout {
  position: relative;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
header {
  position: relative;
  background: transparent;
  display: block;
}
header:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #fff;
}

#header .HeaderTop {
  height: 3.75rem;
}

#header .HeaderTop:after {
  content: '';
  display: block;
  clear: both;
}

#header .HeaderTop .logo {
  float: left;
  width: 16.1rem;
  height: 1.4rem;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

#header.HeaderTop .logo a {
  width: 100%;
  height: 100%;
  display: block;
}

#header .HeaderTop .logo img {
  max-width: 100%;
  vertical-align: top;
}

#header .HeaderTop .login {
  display: block;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  right: 15rem;
  transform: translateY(-50%);
}

#header .HeaderTop .search {
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 11.5rem;
  position: absolute;
}

#header .HeaderTop .search .SearchInne {
  padding-right: 2.1rem;
  position: relative;
}

#header .HeaderTop .search .SearchInner button {
  height: 42px;
  width: 42px;
  background: #4db0a8;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-50%);
}

#header .HeaderTop .search .SearchInner input {
  border: 0;
  background: #f4f5f8;
  padding: 0 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 2.1rem !important;
  display: block;
  width: 100%;
}

input[type='text' i] {
  padding-block: 1px;
  padding-inline: 2px;
}

#header .HeaderTop .search .sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

#header .HeaderTop .search i {
  color: #fff;
  font-size: 18px;
}

#header .HeaderTop .SiteMapBtn {
  display: block;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

#header .HeaderTop .SiteMapBtn i {
  color: #4db0a8;
  font-size: 32px;
}

#header .HeaderTop .CloseBtn {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: none;
}

#header .HeaderTop .CloseBtn i {
  color: #4db0a8;
  font-size: 30px;
}

/* 메뉴바 */

.HeaderBar {
  position: relative;
  padding-bottom: 0.3rem;
}

.HeaderBar:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0.3rem;
  background: url(../imgs/subM_Bg.png) no-repeat center center / cover;
  z-index: 0;
}

.all .HeaderBar #gnb {
  display: none;
}

.HeaderBar #gnb {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 3rem;
}

.HeaderBar #gnb > li {
  display: table-cell;
  height: auto;
}

.HeaderBar #gnb > li > a {
  height: 3rem;
  display: block;
  line-height: 3rem;
  text-align: center;
  font-size: 1.15rem;
  color: #333;
  position: relative;
  font-weight: 400;
}

.HeaderBar #gnb > li:nth-of-type(3) > .sub {
  left: 50%;
  margin-left: -20.35%;
}

.HeaderBar #gnb > li:nth-of-type(4) > .sub {
  text-align: right;
}

.HeaderBar #gnb > li:nth-of-type(5) > .sub {
  text-align: right;
}

.HeaderBar #gnb > li:nth-of-type(6) > .sub {
  text-align: right;
}

.HeaderBar #gnb > li:nth-of-type(7) > .sub {
  text-align: right;
}
.HeaderBar #gnb > li > a {
  height: 3rem;
  display: block;
  line-height: 3rem;
  text-align: center;
  font-size: 1.15rem;
  font-family: 'kbiz';
  color: #333;
  position: relative;
  font-weight: 400;
}
.HeaderBar #gnb > li > a.on {
  color: #ff8519;
}
.HeaderBar #gnb > li > a.on:before {
  content: '';
  display: block;
  width: 1.1rem;
  height: 0.5rem;
  background: url(../imgs/nav_before.png) no-repeat center center/cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.HeaderBar #gnb .sub {
  display: none;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  z-index: 2;
}
.HeaderBar #gnb > li > div > ul {
  padding: 0.5rem 0;
  display: inline-block;
  height: 100%;
  /* overflow: hidden; */
}
.HeaderBar #gnb > li > div > ul > li {
  float: left;
  margin-right: 0.75rem;
}
.HeaderBar #gnb > li > div > ul > li > a {
  display: block;
  padding: 0.3rem 0.75rem 0.3rem 0;
  font-size: 0.85rem;
  color: #fff;
  position: relative;
}

.HeaderBar #gnb > li > div > ul > li > a:before {
  content: '';
  width: 1px;
  height: 0.6rem;
  background: #a4d8d7;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.HeaderBar #gnb > li > div > ul > li:last-of-type a:before {
  display: none;
}

.subM_Bg {
  background: url(../imgs/subM_Bg.png) no-repeat center center / cover;
  position: absolute;
  top: 6.75rem;
  left: 0;
  width: 100%;
  z-index: 1;
}

#header .all .HeaderBar {
  display: none;
}
#header .all .subM_Bg {
  display: none;
}

/* 전체메뉴 */
#header .SubWrap {
  padding: 3.2rem 0;
  height: calc(100vh - 33.6px);
  overflow: visible;
  visibility: visible;
  opacity: 1;
  z-index: 100;
  display: none;
}

#AllMenu .scroll {
  height: 100%;
}

#AllMenu a {
  display: block;
  position: relative;
}

#AllMenu > li > a {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #4db0a8;
  padding-bottom: 0.6rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

#AllMenu > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 72px;
  height: 2px;
  background: #4db0a8;
  content: '';
}

#AllMenu > li.empty > a:after {
  display: none;
}

#AllMenu > li + li {
  margin-top: 3rem;
}

#AllMenu .SubMenu > [class^='sub'] {
  overflow: hidden;
}

#AllMenu .SubMenu > [class^='sub'] > li {
  float: left;
  width: 20%;
  padding-right: 16px;
}

#AllMenu .SubMenu > [class^='sub'] > li > a {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
  padding-top: 8px;
  position: relative;
  word-break: keep-all;
}

#AllMenu .SubMenu > [class^='sub'] > li > a.on:before {
  width: 4px;
  height: 4px;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #4db0a8;
}

#AllMenu .SubMenu > [class^='sub'] > li > a > span {
  display: block;
}

#AllMenu .SubMenu > [class^='sub'] > li > div > ul > li > a:hover {
  text-decoration: underline;
}

.DepthDetail {
  margin-bottom: 0.25rem;
}

/* 전체메뉴 스크롤 */

.scroll {
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 72px);
  max-width: 100%;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #d2d2d2;
  position: absolute;
  height: 245px;
  top: 334px;
  display: block;
  max-height: 607px;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #4db0a8;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  border-radius: 10px;
}
